@import "./vars.css";

a
{
    background: var(--grad-tr-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 18px;
}

a:hover{
    opacity: .7;
}

.logo--header
{
    font-family: var(--ab-font);
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.logo--header::after
{
    content: "</>";
}

header
{
    border-bottom: 2px solid;
    border-image: var(--grad-tr-dark) 1;

    & nav
    {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: var(--m-font);
            height: 8vh;
        }
}

.nav-list
{
    display: flex;
    list-style: none;

    & li
    {
        letter-spacing: 3px;
        margin-left: 32px;
    }
}

.mobile-menu
{
    display: none;
    cursor: pointer;

    & div
    {
        width: 32px;
        height: 2px;
        background: var(--grad-tr-dark);
        margin: 8px;
        transition: transform .3s;
    }

}

@media (max-width: 999px)
{
    body
    {
        overflow-x: hidden;
    }
    .mobile-menu
    {
        display: block;
    }
    .nav-list
    {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--dark-bg);
        opacity: 35%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transform: translateX(100%);
        transition: transform .3s ease-in;

        & li
        {
            margin-left: 0;
            opacity: 0;
        }

        
    }
    .nav-list.active
    {
        transform: translateX(0);
    }

}

@keyframes navLinkFade
{
    from
    {
        opacity: 0;
        transform: translateX(50px)
    }
    to
    {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active
{
    .line1
    {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    .line2
    {
        opacity: 0;
    }
    .line3
    {
        transform: rotate(45deg) translate(-5px, -7px);
    }
}