@import "./vars.css";

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body
{
    background: var(--dark-bg);
}

.content
{
    margin: 0 60px;
}

#home
{
    display: flex;

    & .left
    {
        width: 50vw;
        height: 92vh;

        & .home-info
        {
            & #home-info--name
            {
                text-transform: uppercase;
                color: var(--light-font);
                font-family: var(--a-font);
                font-size: 70px;
            }

            & #home-info--dev
            {
                background: var(--grad-tr-dark);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                font-family: var(--m-font);
                font-size: 20px;
            }

            & .home-links
            {
                width: 150px;
                height: 60px;
                margin: var(--oz-size-7) var(--oz-size-0);
                

                & .links
                {
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    background: var(--grad-tr-dark);
                    filter: var(--neon-f-dark);
                }
            }

            & a {
                width: 0;
            }

            & .home-button-download
            {
                background: var(--grad-tr-dark);
                margin-top: var(--oz-size-2);
                padding: 8px 10px;
                border-radius: var(--oz-size-1);
                width: 150px;
                transition: .3s ease-in-out;

                & span
                {
                    color: white;
                    font-family: var(--a-font);
                    font-size: 25px;
                    white-space: nowrap;
                }
                
                & .arrow-back
                {
                    display: none;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    background: var(--grad-tl-dark);
                }
            }
            & .home-button-download:hover
            {
                width: 180px;

                & .arrow-back
                {
                    display: flex;
                    transition: .5s ease-in-out;
                }
            }
        }
    }

    & .right
    {
        width: 50vw;
        height: 92vh;

        & img
        {
            width: 450px;
            rotate: 10deg;
            filter: var(--neon-f-dark);
            animation: floating 10s ease-in infinite alternate;
        }
    }
}

@keyframes floating 
{
    0%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-12px);
    }
    100%
    {
        transform: translateY(8px);
    }
}
