@import "./vars.css";

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body
{
    background: var(--dark-bg);
}

.content
{
    margin: 0 60px;
}

#home
{
    display: flex;

    & .left
    {
        width: 50vw;
        height: 92vh;

        & .home-info
        {
            & #home-info--name
            {
                text-transform: uppercase;
                color: var(--light-font);
                font-family: var(--a-font);
                font-size: var(--oz-size-14);
            }

            & #home-info--dev
            {
                background: var(--grad-tr-dark);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                font-family: var(--m-font);
                font-size: var(--oz-size-4);
            }

            & .home-info--links
            {
                
                & .home-info--link span
                {
                    background: aqua;
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    & .right
    {
        width: 50vw;
        height: 92vh;

        & img
        {
            width: 450px;
            rotate: 10deg;

            filter: drop-shadow(0 0 5px #525252)
            drop-shadow(0 0 5px #525252)
            drop-shadow(0 0 10px #525252);

            animation: floating 10s ease-in infinite alternate;
        }
    }
}

@keyframes floating 
{
    0%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-12px);
    }
    100%
    {
        transform: translateY(8px);
    }
}
